<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
<!--  By Default the scope is singleton  -->
<!--    <bean id="alien" class="com.varun.Alien">-->
<!--    </bean>-->

<!--  If the scope is prototype, it creates a new object everytime  -->
    <bean id="alien" class="com.varun.Alien" scope="prototype">
    </bean>

    <bean id="laptop" class="com.varun.Laptop">
    </bean>

</beans>